@media only screen and (min-width: 900px) {
    nav, footer {
        float: left;
    }
    .container {
        margin-left: 30%;
    }
    nav ul li {
        display: block;
    }
    nav .svg {
        position: relative;
        margin: auto;
    }
    svg {
        width: 50%;
    }
    footer ul{
        float: none;
    }
}