@media only screen and (min-width: 1000px) and (orientation: landscape) {
    body {
        grid-template-areas: 
            "nav content"
            "nav content"
            "footer content";
        grid-template-rows: 23% 23% 50%;
    }
    nav {
        padding: 0;
        align-content: center;
    }
    nav, footer {
        max-height: none;
        text-align: center;
    }
    nav .svg {
        position: relative;
    }
    nav svg {
        width: 70%;
        margin-left: 13%;
        margin-top: 40%;
    }
    nav ul, footer ul {
        margin: 0;
        padding: 0;
    }
    nav ul li, footer ul li {
        display: block;
        padding: 0;
        margin-top: 8%; 
    }
    footer ul {
        float: none;
        margin-bottom: 5%;
    }
}