body {
    margin: 0;
    padding: 0;
    background-color: #CACCC9;
    color: #333333;
    font-family: 'Libre Franklin', sans-serif;
}
.container {
    width: 70%;
    margin: auto;
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: #C3322F;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}
p {
    font-size: 1.5em;
}

/* nav + footer */
nav, footer {
    background-color: #444;
    max-height: 100px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    color: white;
    margin: 0 0 0 5%;
}
nav ul li, footer ul li {
    display: inline-block;
    font-size: 2.4em;
    padding: 20px 10px;
}
nav ul li:hover, footer ul li:hover {
    background-color: #222;
}
nav a,footer a {
    color: white;
    position: relative;
}
.svg {
    position: absolute;
    right: 3%;
    font-family: "Mr Dafoe", cursive;
    width: 80px;
    max-height: 100px;
    max-width: 100px;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
