body {
    margin: 0;
    padding: 0;
    background-color: #CACCC9;
    color: #333333;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5em;
}
.container {
    width: 70%;
    margin: auto;
}
a {
    text-decoration: none;
    color: #C3322F;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}

/* nav + footer */
nav, footer {
    background-color: #444;
    padding: 20px;;
    max-height: 100px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: white;
    margin-left: 5%;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 2.2em;
}
nav a,footer a {
    color: white;
    position: relative;
}
nav svg {
    position: absolute;
    right: 3%;
    top: 5px;
    font-family: "Mr Dafoe", cursive;
    max-height: 100px;
    max-width: 100px;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
